.material-icons {
    top: 1px;
}

.bg-card-body {
    background-color: var(--bg-secondary-light);
    color: var(--primary-text);
}

.bg-card-header,
.bg-card-footer,
.bg-modal {
    background-color: var(--bg-secondary);
    color: var(--secondary-text);
    border-radius: 0px;
}

.bg-modal {
    color: var(--primary-text);
}


#log-console {
    background-color: var(--bg-secondary);
    height: 170px;
    overflow-y: auto;

    border: 0.5px;
    border-style: solid;
    border-color: var(--divider);
}

.card,
.card-header,
.card-footer {
    border-radius: 0 !important;
}


#log-table-columns {
    color: var(--secondary-text);
}

#log-table-rows {
    color: var(--primary-text);
}

td {
    color: var(--primary-text);
}