.material-icons {
    top: 1px;
}

.bg-card-body {
    background-color: var(--bg-secondary-light);
    color: var(--primary-text);
}

.bg-card-header,
.bg-card-footer,
.bg-modal {
    background-color: var(--bg-secondary);
    color: var(--secondary-text);
}

.bg-modal {
    color: var(--primary-text);
}


#console-erro {
    background-color: var(--bg-secondary);
    height: 170px;
    overflow-y: auto;

    border: 0.5px;
    border-style: solid;
    border-color: var(--divider);
}