@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --primary-text: #fff;
    --secondary-text: rgba(255, 255, 255, 0.7);
    --button-primary: rgba(255, 255, 255, 0.08);
    --bg-primary: #303030;
    --bg-secondary: #424242;
    --bg-secondary-light: #424242f8;

    --button-active: #ffffff;
    --button-hover: rgba(255, 255, 255, 0.08);
    --button-disabled: rgba(255, 255, 255, 0.3);
    --button-disabledBG: rgba(255, 255, 255, 0.12);

    --divider: rgba(255, 255, 255, 0.12);
}

body {
    background: var(--bg-primary);
    overflow: hidden;
}

.container-fluid {
    overflow-y: auto;
    max-height: 100vh;
}

h1 {
    color: var(--primary-text);
}

#toolbar,
.modal-title,
.card span {
    color: var(--secondary-text);
}

* {
    font-family: "Poppins"
}

#toolbar {
    align-items: center;
    background: var(--bg-secondary);
    padding: 3px 10px;

    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.toolbar-button {
    color: var(--primary-text);
    text-decoration: none;
    -webkit-app-region: no-drag;

    transition: color 0.2s ease;
}

.toolbar-button:hover {
    color: var(--secondary-text);
}

.btn-custom {
    background: var(--button-active);
    transition: background 0.5s ease;
}

.btn-custom:hover {
    background: var(--button-hover);
    color: var(--primary-text);
}

.btn-custom:disabled {
    background: var(--button-disabled);
    color: var(--primary-text);
}

.hr-divider {
    background-color: var(--divider);
}

label {
    color: var(--primary-text)
}

.form-control {
    background-color: var(--bg-secondary);
    color: var(--secondary-text);
    border: none;
}

.form-control:focus {
    background-color: var(--bg-secondary);
    color: var(--primary-text);
}