.bg-modal {
    color: var(--primary-text);
    background-color: var(--bg-secondary);
}

.modal-header,
.modal-footer {
    border: none;
}

.spinner-border {
    margin-top: 7px;
    width: 50px;
    height: 50px;
}